/* .custom-todayjob {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 20px;
}
.search-button2 {
    background-color: white;
    color: #3f72af;
    padding: 25px 30px; 
    font-size: 22px; 
    border: none;
    height: 35px;
    cursor: pointer;
    display: flex; 
    align-items: center; 
    justify-content: center;
}
.custom-jobimg {
    margin-right: 200px;
}
.custom-flex {
    background-color: #3f72af;
} */


.homepage-child {
    position: absolute;
    top: 111px;
    left: 5px;
    width: 1440px;
    height: 921px;
    object-fit: cover;
}
.cta-section-child {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1192px;
    height: 414px;
}
.start-applying-for {
    width: 407px;
    position: relative;
    line-height: 110%;
    white-space: pre-wrap;
    display: flex;
    align-items: center;
}
.caption {
    position: relative;
    line-height: 160%;
}
.button {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    text-align: center;
    font-size: 16px;
    color: #3f72af;
    font-family: Epilogue;
}
.text {
    position: absolute;
    top: 93px;
    left: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}
.icon-calendar {
    width: 9.4px;
    position: relative;
    height: 9.4px;
    overflow: hidden;
    flex-shrink: 0;
}
.jul-19- {
    width: 42.7px;
    position: relative;
    line-height: 160%;
    font-weight: 500;
    display: flex;
    align-items: center;
    height: 9.4px;
    flex-shrink: 0;
}
.date {
    position: absolute;
    top: 49.33px;
    left: 483.52px;
    border-radius: 3.13px;
    background-color: #fff;
    border: 0.4px solid #e2e7f5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4.7px 6.3px;
    gap: 3.1px;
    font-family: Inter;
}
.good-morning-maria {
    position: absolute;
    top: 0px;
    left: 0px;
    letter-spacing: -0.02em;
    line-height: 120%;
    display: flex;
    align-items: center;
    width: 125.3px;
    height: 14.9px;
}
.here-is-whats {
    position: absolute;
    top: 16.44px;
    left: 0px;
    font-size: 6.26px;
    line-height: 160%;
    font-weight: 500;
    font-family: Epilogue;
    display: flex;
    align-items: center;
    width: 210.6px;
    height: 10.2px;
    opacity: 0.5;
}
.greetings {
    position: absolute;
    top: 45.42px;
    left: 119.02px;
    width: 210.6px;
    height: 26.6px;
    font-size: 12.53px;
    font-family: 'Abhaya Libre';
}
.visitors1 {
    position: absolute;
    top: 13.69%;
    left: 19.48%;
    line-height: 160%;
}
.div {
    position: absolute;
    top: 47.91%;
    left: 26.68%;
    font-size: 7.05px;
    line-height: 160%;
    font-weight: 600;
    color: #fff;
}
.visitors-child {
    position: absolute;
    top: 25.45px;
    left: 17.62px;
    border-radius: 0.78px;
    width: 7.8px;
    height: 6.3px;
    object-fit: contain;
}
.visitors {
    position: absolute;
    height: 18.5%;
    width: 19.44%;
    top: 27.35%;
    right: 13.7%;
    bottom: 54.15%;
    left: 66.86%;
    border-radius: 3.13px;
    background-color: #25324b;
}
.mon {
    width: 17.2px;
    position: relative;
    line-height: 160%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 9.4px;
    flex-shrink: 0;
}
.days {
    position: absolute;
    height: 6.08%;
    width: 91.11%;
    top: 87.88%;
    right: 4.45%;
    bottom: 6.04%;
    left: 4.44%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    color: #7c8493;
}
.chart-child {
    flex: 1;
    position: relative;
    border-radius: 1.57px;
    background-color: #e2e7f5;
    height: 19.6px;
}
.chart-item {
    flex: 1;
    position: relative;
    border-radius: 1.57px;
    background-color: #e2e7f5;
    height: 51.3px;
}
.chart-inner {
    flex: 1;
    position: relative;
    border-radius: 1.57px;
    background-color: #e2e7f5;
    height: 32.5px;
}
.rectangle-div {
    flex: 1;
    position: relative;
    border-radius: 1.57px;
    background-color: #e2e7f5;
    height: 21.9px;
}
.chart-child1 {
    flex: 1;
    position: relative;
    border-radius: 1.57px;
    background-color: #e2e7f5;
    height: 40.3px;
}
.chart-child2 {
    flex: 1;
    position: relative;
    border-radius: 1.57px;
    background-color: #3f72af;
    height: 55.2px;
}
.chart {
    position: absolute;
    height: 35.71%;
    width: 91.11%;
    top: 50.14%;
    right: 4.45%;
    bottom: 14.15%;
    left: 4.44%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    gap: 9.4px;
}
.company-visitors {
    position: relative;
    line-height: 120%;
    font-weight: 600;
}
.div1 {
    position: relative;
    line-height: 100%;
    font-weight: 600;
}
.visitors-from-july {
    position: relative;
    font-size: 7.05px;
    line-height: 160%;
    font-weight: 500;
    color: #7c8493;
}
.total1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 28.19px;
}
.total {
    position: absolute;
    top: 9.4px;
    left: 9.4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 9.4px;
    text-align: left;
    font-size: 7.83px;
    color: #25324b;
}
.card-dashboard {
    position: absolute;
    top: 84.18px;
    left: 119.02px;
    background-color: #fff;
    border: 0.4px solid #d6ddeb;
    box-sizing: border-box;
    width: 211.4px;
    height: 154.6px;
    text-align: center;
    color: #d6ddeb;
}
.button1 {
    position: relative;
    line-height: 160%;
    font-weight: 600;
}
.icon {
    width: 9.4px;
    position: relative;
    height: 9.4px;
}
.buttonsmallicon-rightsmall {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 3.1px;
    font-size: 16px;
    color: #3f72af;
}
.applicants-statistic-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 9.4px;
}
.line {
    align-self: stretch;
    position: relative;
    border-top: 0.4px solid #d6ddeb;
    box-sizing: border-box;
    height: 0.4px;
}
.title {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 9px;
}
.div2 {
    width: 47.4px;
    position: relative;
    line-height: 100%;
    font-weight: 600;
    display: flex;
    align-items: center;
    height: 20px;
    flex-shrink: 0;
}
.applicants {
    position: relative;
    font-size: 18px;
    line-height: 160%;
    font-weight: 500;
    color: #7c8493;
}
.total-applicants {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 3.1px 0px 0px 9.4px;
    gap: 3.1px;
    font-size: 72px;
}
.chart-child4 {
    width: 89.3px;
    position: relative;
    background-color: #3f72af;
    height: 6.3px;
}
.chart-child5 {
    flex: 1;
    position: relative;
    background-color: #26a4ff;
    height: 6.3px;
}
.chart-child6 {
    flex: 1;
    position: relative;
    background-color: #25324b;
    height: 6.3px;
}
.chart-child7 {
    flex: 1;
    position: relative;
    background-color: #d6ddeb;
    height: 6.3px;
}
.chart1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 9.4px;
}
.frame-child {
    width: 6.3px;
    position: relative;
    border-radius: 1.57px;
    background-color: #3f72af;
    height: 6.3px;
}
.rectangle-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 6.3px;
}
.applicants1 {
    position: relative;
    line-height: 160%;
    color: #7c8493;
    text-align: right;
}
.social-media-specialist {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.frame-item {
    width: 6.3px;
    position: relative;
    border-radius: 1.57px;
    background-color: #25324b;
    height: 6.3px;
}
.senior-engineer {
    position: relative;
    line-height: 160%;
    font-weight: 500;
}
.frame-inner {
    width: 6.3px;
    position: relative;
    border-radius: 1.57px;
    background-color: #26a4ff;
    height: 6.3px;
}
.frame-child1 {
    width: 6.3px;
    position: relative;
    border-radius: 1.57px;
    background-color: #d6ddeb;
    height: 6.3px;
}
.data {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 9.4px;
    gap: 6.3px;
    font-size: 16px;
}
.card-dashboard1 {
    position: absolute;
    top: 84.18px;
    left: 339.84px;
    background-color: #fff;
    border: 1px solid #d6ddeb;
    box-sizing: border-box;
    width: 174.6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 23px 0px;
    gap: 19px;
    font-size: 20px;
    color: #25324b;
}
.divider {
    position: absolute;
    height: 1.67%;
    width: 100.09%;
    top: 77.49%;
    right: -0.05%;
    bottom: 20.85%;
    left: -0.05%;
    border-top: 0.4px solid #d6ddeb;
    box-sizing: border-box;
}
.recent-applicants {
    position: absolute;
    top: 0%;
    left: 2.17%;
    line-height: 120%;
    font-weight: 600;
}
.header {
    width: 432.2px;
    position: relative;
    height: 24px;
    font-size: 20px;
}
.avatar-icon {
    width: 25.1px;
    position: relative;
    height: 25.1px;
    object-fit: cover;
}
.social-media-specialist5 {
    position: relative;
    line-height: 160%;
    color: #7c8493;
}
.name-role {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.name {
    width: 119.8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 6.3px;
    font-size: 18px;
}
.jakegyllemailcom {
    position: relative;
    font-size: 18px;
    line-height: 160%;
    color: #7c8493;
}
.email {
    width: 78.3px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.date-applied {
    width: 51.3px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.buttonsecondaryfilledsmall {
    background-color: #e9ebfd;
    border: 0.4px solid #3f72af;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4.7px 8.2px;
    text-align: center;
    font-size: 14px;
    color: #3f72af;
}
.applicant-list {
    align-self: stretch;
    background-color: #f8f8fd;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 9.4px;
}
.applicant-list1 {
    align-self: stretch;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 9.4px;
}
.data1 {
    width: 413.4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.buttonsmallicon-rightsmall1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 6.3px;
    text-align: center;
    color: #3f72af;
}
.dashboard-table {
    position: absolute;
    top: 251.35px;
    left: 119.02px;
    background-color: #fff;
    border: 1px solid #d6ddeb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 24px 0px;
    gap: 24px;
    font-size: 16px;
    color: #25324b;
}
.notification-icon {
    position: absolute;
    top: 0px;
    left: 429.1px;
    width: 15.7px;
    height: 15.7px;
}
.line1 {
    position: absolute;
    top: 23.3px;
    left: -0.2px;
    border-top: 0.4px solid #e2e7f5;
    box-sizing: border-box;
    width: 457.7px;
    height: 0.4px;
}
.button3 {
    position: absolute;
    top: calc(50% - 7.73px);
    left: calc(50% + 131.48px);
    background-color: #3f72af;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4.7px 7.8px 4.7px 9.4px;
    gap: 3.9px;
}
.top {
    position: absolute;
    top: 12.53px;
    left: 106.49px;
    width: 457.3px;
    height: 23.5px;
    text-align: center;
    font-size: 16px;
    color: #fff;
}
.base {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #f9fafc;
    border: 0.4px solid #e2e7f5;
    box-sizing: border-box;
    width: 106.5px;
    height: 480px;
}
.maria-kelly {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 160%;
    font-weight: 600;
    display: flex;
    align-items: center;
    width: 37.6px;
    height: 11.4px;
}
.mariakellyemailcom {
    position: absolute;
    top: 10.57px;
    left: 0px;
    font-size: 5.48px;
    line-height: 150%;
    display: flex;
    align-items: center;
    width: 57.6px;
    height: 8.2px;
    opacity: 0.5;
}
.maria-kelly-parent {
    position: absolute;
    top: 0px;
    left: 25.06px;
    width: 57.6px;
    height: 18.8px;
}
.mask-group-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 18.8px;
    height: 18.8px;
    object-fit: cover;
}
.company-logo-icon {
    position: absolute;
    top: 11.75px;
    left: 11.75px;
    width: 7.8px;
    height: 7.8px;
}
.group-parent {
    position: absolute;
    top: 9.4px;
    left: 12.53px;
    width: 82.6px;
    height: 19.6px;
}
.divider1 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-top: 0.4px solid #e2e7f5;
    box-sizing: border-box;
    width: 106.9px;
    height: 0.4px;
}
.profile {
    position: absolute;
    top: 432.23px;
    left: 0px;
    width: 106.5px;
    height: 29px;
}
.settings2 {
    position: absolute;
    top: 0px;
    left: 15.66px;
    line-height: 160%;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 58.3px;
    height: 9.4px;
}
.icon6 {
    position: absolute;
    height: 100%;
    width: 12.7%;
    top: 0%;
    right: 87.3%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.help {
    width: 74px;
    position: relative;
    height: 9.4px;
    opacity: 0.7;
}
.menu1 {
    position: absolute;
    top: 18.79px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 9.4px;
}
.settings3 {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 5.48px;
    letter-spacing: 0.04em;
    line-height: 9.4px;
    font-weight: 600;
    display: inline-block;
    width: 29px;
    height: 9.4px;
    opacity: 0.5;
}
.settings {
    position: absolute;
    top: 109.62px;
    left: 12.53px;
    width: 74px;
    height: 47px;
}
.line2 {
    position: absolute;
    top: 100.23px;
    left: 0px;
    border-top: 0.4px solid #e2e7f5;
    box-sizing: border-box;
    width: 106.9px;
    height: 0.4px;
}
.messages1 {
    position: absolute;
    top: 0px;
    left: 15.66px;
    line-height: 160%;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 41.1px;
    height: 9.4px;
}
.icon8 {
    position: absolute;
    height: 100%;
    width: 16.55%;
    top: 0%;
    right: 83.45%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.messages {
    width: 56.8px;
    position: relative;
    height: 9.4px;
    opacity: 0.7;
}
.company-profile1 {
    position: absolute;
    top: 0px;
    left: 15.66px;
    line-height: 160%;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 49.7px;
    height: 9.4px;
}
.icon9 {
    position: absolute;
    height: 100%;
    width: 14.37%;
    top: 0%;
    right: 85.63%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.company-profile {
    width: 65.4px;
    position: relative;
    height: 9.4px;
    opacity: 0.7;
}
.all-applicants1 {
    position: absolute;
    top: 0px;
    left: 15.66px;
    line-height: 160%;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 48.2px;
    height: 9.4px;
}
.icon10 {
    position: absolute;
    height: 100%;
    width: 14.73%;
    top: 0%;
    right: 85.27%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.all-applicants {
    width: 63.8px;
    position: relative;
    height: 9.4px;
    opacity: 0.7;
}
.icon11 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 9.4px;
    height: 9.4px;
    overflow: hidden;
}
.menu2 {
    position: absolute;
    top: 25.06px;
    left: 12.53px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 9.4px;
}
.selected1 {
    position: absolute;
    top: 0px;
    left: 6.26px;
    border-radius: 3.13px;
    background-color: #3f72af;
    width: 94px;
    height: 18.8px;
    opacity: 0.05;
}
.dashboard {
    position: absolute;
    top: 4.7px;
    left: 12.53px;
    width: 56.8px;
    height: 9.4px;
}
.vector-icon {
    position: absolute;
    top: 4.7px;
    left: 0px;
    width: 1.6px;
    height: 9.4px;
}
.selected {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100.2px;
    height: 18.8px;
    color: #3f72af;
}
.menu {
    position: absolute;
    top: 45.42px;
    left: 0px;
    width: 106.5px;
    height: 156.6px;
    font-size: 6.26px;
}
.logo-2-child {
    position: absolute;
    top: 0.78px;
    left: 0px;
    width: 12.5px;
    height: 12.5px;
    overflow: hidden;
}
.jobhuntly {
    position: absolute;
    top: 0px;
    left: 15.66px;
    letter-spacing: -0.01em;
    line-height: 150%;
    display: inline-block;
    width: 47px;
    height: 14.1px;
}
.logo-2 {
    position: absolute;
    top: 12.53px;
    left: 12.53px;
    width: 62.6px;
    height: 14.1px;
    font-size: 9.4px;
    font-family: 'Red Hat Display';
}
.side-bar-company-dashboard {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 106.5px;
    height: 480px;
    font-size: 7.05px;
    font-family: Inter;
}
.dashboard-company {
    position: absolute;
    top: 70px;
    left: 558px;
    background-color: #fff;
    width: 564px;
    height: 344px;
    overflow: hidden;
    font-size: 6.26px;
    color: #202430;
    font-family: Epilogue;
}
.cta-section {
    position: absolute;
    top: 540px;
    left: 125px;
    width: 1192px;
    height: 414px;
    text-align: left;
    font-size: 48px;
    font-family: 'Abril Fatface';
}
.right-resource-fit {
    margin: 0;
}
.explore-5000-job {
    margin: 0;
    white-space: pre-wrap;
}
.right-resource-fit-container {
    position: absolute;
    top: 240px;
    left: 326px;
    color: #f9f7f7;
    text-align: left;
}
.home {
    flex: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}
.employer-button {
    position: absolute;
    top: 361px;
    left: 519px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    background-color: #3f72af;
    width: 138px;
    height: 61px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: #f9f8f8;
}
.employer-button1 {
    position: absolute;
    top: 361px;
    left: 689px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    background-color: #3f72af;
    width: 233px;
    height: 61px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: #f9f8f8;
}
.find-your-dream {
    position: absolute;
    top: 139px;
    left: 432px;
    font-size: 36px;
    text-decoration: underline;
    line-height: 160%;
    text-transform: uppercase;
    display: inline-block;
    font-family: Epilogue;
    width: 522px;
    height: 62px;
}
.navbar-child {
    position: absolute;
    top: 11px;
    left: 18px;
    width: 90px;
    height: 90px;
}
.navbar-item {
    position: absolute;
    top: 20px;
    left: 762px;
    width: 70px;
    height: 70px;
}
.employer-button2 {
    position: absolute;
    top: 33px;
    left: 996px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    background-color: #3f72af;
    width: 100px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 2px 15px;
    box-sizing: border-box;
}
.employer-button3 {
    position: absolute;
    top: 33px;
    left: 1115px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    background-color: #3f72af;
    width: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 15px;
    box-sizing: border-box;
}
.notification-icon1 {
    position: absolute;
    top: 37px;
    left: 1360px;
    width: 50px;
    height: 50px;
}
.account {
    position: relative;
    line-height: 16px;
}
.account-wrapper {
    position: absolute;
    top: 33px;
    left: 1234px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    background-color: #3f72af;
    border: 1px solid #3f72af;
    box-sizing: border-box;
    width: 120px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 41px;
    text-align: left;
    color: #fff;
}
.navbar {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #112d4e;
    width: 1440px;
    height: 111px;
    overflow: hidden;
    color: #f9f8f8;
}
.twitter-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 32px;
    height: 32px;
}
.linkedin-icon {
    position: absolute;
    top: 0px;
    right: 56px;
    width: 32px;
    height: 32px;
}
.dribbble-icon {
    position: absolute;
    top: 0px;
    right: 112px;
    width: 32px;
    height: 32px;
}
.instagram-icon {
    position: absolute;
    top: 0px;
    right: 168px;
    width: 32px;
    height: 32px;
}
.facebook-icon {
    position: absolute;
    top: 0px;
    right: 224px;
    width: 32px;
    height: 32px;
}
.social-media-icons {
    position: absolute;
    top: 425px;
    right: 124px;
    width: 256px;
    height: 32px;
}
.jobhuntly-all-rights {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 160%;
    font-weight: 500;
}
.copyright {
    position: absolute;
    top: 427px;
    left: 124px;
    width: 295px;
    height: 26px;
    opacity: 0.5;
}
.input {
    width: 223px;
    background-color: #fff;
    border: 1px solid #d6ddeb;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 16px;
}
.button4 {
    background-color: #3f72af;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    text-align: center;
    color: #fff;
}
.input-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}
.subscribe {
    position: absolute;
    top: 139px;
    left: 0px;
    width: 362px;
    height: 50px;
}
.the-latest-job {
    position: absolute;
    top: 47px;
    left: 0px;
    line-height: 160%;
    color: #d6ddeb;
    display: inline-block;
    width: 306px;
}
.get-job-notifications {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 18px;
    line-height: 160%;
    font-weight: 600;
    color: #fff;
}
.right {
    position: absolute;
    top: 64px;
    left: 954px;
    width: 362px;
    height: 189px;
    color: #a8adb7;
}
.contact-us {
    position: absolute;
    top: 147px;
    left: 0px;
    line-height: 160%;
}
.updates {
    position: absolute;
    top: 98px;
    left: 0px;
    line-height: 160%;
}
.guide {
    position: absolute;
    top: 49px;
    left: 0px;
    line-height: 160%;
}
.help-docs {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 160%;
}
.description {
    position: absolute;
    top: 47px;
    left: 0px;
    width: 88px;
    height: 173px;
}
.second-column {
    position: absolute;
    top: 0px;
    left: 198px;
    width: 97px;
    height: 220px;
}
.description1 {
    position: absolute;
    top: 47px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}
.about {
    position: absolute;
    top: 0px;
    left: 1px;
    font-size: 18px;
    line-height: 160%;
    font-weight: 600;
    color: #fff;
}
.first-column {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 105px;
    height: 241px;
}
.menu3 {
    position: absolute;
    top: 64px;
    left: 588px;
    width: 295px;
    height: 241px;
    color: #d6ddeb;
}
.left {
    position: relative;
    width: 376px;
    height: 164px;
}
.footer {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #112d4e;
    width: 1440px;
    height: 358px;
}
.line-icon {
    position: absolute;
    top: 319px;
    left: 16px;
    width: 1408px;
    height: 1px;
    object-fit: contain;
}
.great-platform-for {
    position: absolute;
    top: 61px;
    left: 37px;
    line-height: 160%;
    color: #d6ddeb;
    display: inline-block;
    width: 376px;
}
.social-media-icons1 {
    position: absolute;
    top: 202px;
    right: 1147px;
    width: 256px;
    height: 32px;
}
.copyright1 {
    position: absolute;
    top: 328px;
    left: 538px;
    width: 363px;
    height: 26px;
    opacity: 0.5;
}
.footer-parent {
    position: absolute;
    top: 1516px;
    left: 0px;
    width: 1440px;
    height: 360px;
    overflow: hidden;
    text-align: left;
    font-size: 16px;
    font-family: Epilogue;
}
.homepage {
    width: 100%;
    position: relative;
    background-color: #dbe2ef;
    height: 1876px;
    overflow: hidden;
    text-align: center;
    font-size: 24px;
    color: #fff;
    font-family: Inter;
}

