/* JobseekerPage.css */

.searchbox-container {
    background-color: white;
    height: 65px;
    width: 1360px;
    align-items: center;
    justify-content: center;
}  
.inputfield1 {
    width: 300px; 
    padding: 10px; 
    border-radius: 5px;
    margin-left: 10px;
    border: 1px solid #d1d5db;
    border-radius: 5px; 
    height: 40px; 
    padding-left: 10px; 
    width: 250px;
    color: black;
}
.inputfield2 {
    width: 300px; 
    padding: 10px; 
    border-radius: 5px;
    margin-left: 40px;
    border: 1px solid #d1d5db;
    border-radius: 5px; 
    height: 40px; 
    padding-left: 10px; 
    width: 250px;
    color: black;
}
.inputfield3 {
    width: 300px; 
    padding: 10px; 
    border-radius: 5px;
    margin-left: 40px;
    border: 1px solid #d1d5db;
    border-radius: 5px; 
    height: 40px; 
    padding-left: 10px; 
    width: 250px;
    color: black;
}
.icon-search {
    height: 30px;
    width: 30px;
    margin-top: 7px;
    margin-right: 270px;
}
.icon-location {
    height: 30px;
    width: 30px;
    margin-top: 7px;
    margin-right: 240px;
}
.icon-skills {
    height: 30px;
    width: 30px;
    margin-top: 7px;
    margin-right: 240px;
}
.searchbutton {
    width: 100px;
    height: 40px; 
    border-radius: 5px; 
    background-color: #3f72af; 
    color: white; 
    border: none;
    cursor: pointer; 
    margin-left: 20px;
}
.clearbutton {
    width: 100px;
    height: 40px; 
    border-radius: 5px; 
    background-color: #3f72af; 
    color: white; 
    border: none;
    cursor: pointer; 
    margin-left: 40px;
}
.custom-clear {
    margin-left: -20px;
}
.minfield {
    height: 40px;
    width: 40%;
    padding: 5px;
    border: 1px solid #d1d5db;
}
.maxfield {
    height: 40px;
    width: 40%;
    padding: 5px;
    border: 1px solid #d1d5db;
}
.custom-bookmark {
    margin-left: 95%;
    margin-top: -25px;
}
.job-typebtn {
    height: 30px;
    width: 100px;
    cursor: pointer;
    border: none;
    color: whitesmoke;
    background-color: #6A9DD9;
    border-radius: 2px;
    text-align: center;
    font-size: 18px;
}
.custom-salary {
    margin-left: 28%;
    margin-top: -28px;
    font-size: 18px;
}
.custom-title2 {
    margin-left: 26%;
    margin-top: -70px;
    font-size: 18px;
}
.custom-loc {
    margin-top: -22px;
    margin-left: 120px;
    font-size: 18px;
}
.view-button {
    height: 40px;
    width: 150px;
    cursor: pointer;
    border: 1px solid #3f72af;
    color: #303030;
    background-color: white;
    border-radius: 2px;
    text-align: center;
    font-size: 18px;
}
.apply-button {
    height: 40px;
    width: 150px;
    cursor: pointer;
    border: none;
    color: white;
    background-color: #3f72af;
    border-radius: 2px;
    text-align: center;
    font-size: 18px;
}